---
import NavLayout from "../layouts/NavLayout.astro";
---

<NavLayout
    title="Home"
>
    <!-- Hero Section -->
    <div
        class={
            "w-screen h-screen flex flex-col justify-center " + 
            "items-center text-center from-white bg-linear-to-t " +
            "to-[#cde1ff]"
        }
    >
        <h1
            class="font-[Homemade_Apple] text-4xl sm:text-6xl"
        >
            Mrs. Malorie&apos;s
        </h1>
        
        <h2
            class="text-2xl sm:text-4xl font-bold tracking-[.25em] mt-2"
        >
            Classroom Website
        </h2>
    </div>

</NavLayout>