---
import NavLayout from "../../layouts/NavLayout.astro";
import BookTable from "../../components/BookTable";
---

<NavLayout title="Library">
    <main class="min-h-[100vh] from-white to-[#cde1ff] bg-linear-to-t">
        <div 
            class={`
                min-h-[100vh] striped-background mx-[5%] border-x-20
                border-x-[#d7a350] bg-blend-overlay bg-[#ffffffdf]
            `}
        >
            <BookTable client:load />
        </div>
    </main>
</NavLayout>